html {
  font-family: 'Source Sans Pro', sans-serif;
}

.sidebar-about h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
}

.post-image {
  display: block;
}

.post-image > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  object-position: top center;
  margin: 0 0 .5rem 0;
}

.lead {
  font-size: 1rem;
}

.sidebar-nav {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0;
}
.sidebar-nav > li {
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 48em) {
  .sidebar-about h1 {
    font-size: 2.5rem;
  }

  .lead {
    font-size: 1.25rem;
  }

  .sidebar-nav {
    display: block;
    justify-content: unset;
    margin-top: 0;
  }
  .sidebar-nav > li {
    padding-right: 0;
    padding-left: 0;
  }

  .post-image > img {
    height: 300px;
  }
}

.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 64em) {
  .content {
    max-width: 40rem;
  }
}
